<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safaricom Hook</title>
</head>
<body>
    <h1>welcome to safaricom application</h1>
    <form action="">
    <label for="fname">Enter firstname</label>

        <input type="text" placeholder="enter the name">
        <label for="email">Enter your email</label>
        <input type="text" placeholder="enter the email address">
        <label for="phonne">REnter phone numbers</label>
        <input type="number" placeholder="enter your number please">
        
        <input type="submit" value="Register">
    </form>
</body>
</html>